<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body> 

    <div class="slider">
        <div class="list">
            <div class="item">
                <img src="https://i.postimg.cc/k5HgRF9j/deadpool-wolverine.webp" alt="image1">
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/fWmRk9PK/thebeekeeper.webp" alt="image2">
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/SN4N9KFp/monkey-man-poster.webp" alt="image3">
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/0y2ktHyW/rebel-moon.webp" alt="image4">
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/x1x0Byk0/alien-romulus.webp" alt="image5">
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/FKwhHrg8/despicable-me-4.webp" alt="image6">
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/6qXwCMPh/furiosa-poster.webp" alt="image7">
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/QNQjjrBY/quiet-place-day-one.webp" alt="image8">
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/1zVZ2xhH/mayhem.webp" alt="image9">
            </div>
            <div class="item">
                <img src="https://i.postimg.cc/7h9v0w0x/fall-guy.webp" alt="image10">
            </div>
        </div>
        <div class="buttons">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <ul class="dots">
           <li class="active"></li>
           <li></li>
           <li></li>
           <li></li>
           <li></li> 
        </ul>
    </div>


    <div class="card-container">
        <!-- Top 10 Movies Card -->
        <div class="movie-card">
            <h2>Top: Comedy Movies</h2> <br>
            <ol>
                <li> Ted </li>
                <li> Hangover </li>
                <li> Grown-Ups</li>
                <li> Dumb and Dumber</li>
                <li> Due-Date </li>
            </ol>
        </div>
        
       
        <div class="movie-card">
            <h2>Top: Horror Movies</h2> <br>
            <ol>
                <li> Alien</li>
                <li> The Witch </li>
                <li> It </li>
                <li> Hereditary</li>
                <li> The Conjuring </li>
            </ol>
        </div>
    
      
        <div class="movie-card">
            <h2>Top: Action Movies</h2> <br>
            <ol>
                <li> John-Wick</li>
                <li> Sisu </li>
                <li> London has Fallen</li>
                <li> Hellboy 2</li>
                <li> Deasdpool</li>
            </ol>
        </div>
    
        <div class="movie-card">
            <h2><%=Top%>: Mind-Bending Movies</h2> <br>
            <ol>
                <li>Lucy</li>
                <li>Looper</li>
                <li>The Matrix</li>
                <li>12 Monkeys</li>
                <li> Shutter-Island</li>
            </ol>
        </div>
    </div>
</body>
<script src="../javascript/index.js"></script>
</html>